header {
  text-align: center;
  background: rgba(77, 0, 251, .5);
  padding: 30px;
  font-size: 80px;
  font-family: fantasy;
  border-radius: 10px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 175px;
  border: 1px solid rgba(13, 218, 255, .75);
  background-color: rgba(13, 218, 255, .75);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50%;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button{
  font-size: 40px;
  border-radius: 10px;
  border: rgb(77, 0, 251);
  background: rgb(77, 0, 251);
  color: white;
}
.button3, .button4, .button5, .button6 {
  font-size: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  display: grid;
  margin: 10px 0;
}

.fighter, .fighter2{
  display: flex;
  display: inline-block;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.battleScreen {
  background: none;
  width: 40%;
  height: 175px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  float: left;
  border: none;
}
.battleScreen2 {
  background: none;
  width: 40%;
  height: 175px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  float: right;
  border: none;
}

div.image{
  display: inline-block;
  content: url(https://www.ssbwiki.com/images/5/5f/Falco_SSB4.png);
  height: 200px;
  width: 200px;
}

div.image2{
  display: inline-block;
  content: url(https://www.ssbwiki.com/images/6/68/Samus_Other_M_Artwork.png);
  height: 220px;
  width: 200px;
  padding-left: 405px;
}
div.stats , div.stats2 {
  display: inline-block;
  height: 80px;
  width: 40%;
  background: white;
}
