header {
  text-align: center;
  background: rgba(77, 0, 251, .5);
  padding: 30px;
  font-size: 80px;
  font-family: fantasy;
  border-radius: 10px;
}

/* .start {
  color: white;
  height: 175px;
  border: 1px solid rgba(13, 218, 255, .75);
  background-color: rgba(13, 218, 255, .75);
  border-radius: 10px;
  margin-bottom: 10px;
  width: 50%;
} */

h1 {
  display: grid;
  text-align: center;
}

.instructions{
  border: 1px solid rgba(13, 218, 255, .75);
  background-color: rgba(13, 218, 255, .75);
  border-radius: 10px;
  font-size: 25px;
  margin: 10px;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

.button {
  font-size: 40px;
  border-radius: 10px;
  border: rgb(77, 0, 251);
  background: rgb(77, 0, 251);
  color: white;
  text-align: center;
}

.button2 {
  position: relative;
  bottom: 0;
  display: inline;
  font-size: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  margin: 10px 0;
  left: 152px;
}
.button7 {
  position: relative;
  bottom: -50px;
  left: 725px;
  display: inline;
  font-size: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  margin: 10px 0;
}

.button3, .button4{
  font-size: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  display: grid;
  margin: 10px 0;
  display: flex;
  position: relative;
  bottom: -95px;
  right:134px;
}

.button5, .button6 {
  font-size: 20px;
  border-radius: 10px;
  background: blue;
  color: white;
  display: grid;
  margin: 10px 0;
  display: flex;
  position: relative;
  bottom: 90px;
  left:134px;
}

.battleScreen {
  background: none;
  width: 40%;
  height: 175px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  float: left;
  border: none;
}
.battleScreen2 {
  background: none;
  width: 40%;
  height: 175px;
  margin-bottom: 10px;
  display: inline-block;
  border-radius: 10px;
  float: right;
  border: none;
}

div.image{
  display: inline-block;
  content: url(/Users/tatewilson/Documents/homework/Zangief.gif);
  height: 200px;
  width: 152px;
  margin: auto;
  float: left;
  padding-left: 140px;
  padding-top: 25px;
}

div.image2{
  display: inline-block;
  content: url(/Users/tatewilson/Documents/homework/The-Mayhem-Arena/project1/URL.md/akuma2.gif);
  height: 220px;
  width: 152px;
  padding-right: 148px;
  margin: auto;
  float: right;
  top: 200px;
}
.stats {
  color: white;
  display: flex;
  position: relative;
  display: inline-block;
  height: 80px;
  width: 40%;
  bottom: -220px;
  right: -453px;
}

.stats2{
  color: white;
  display: flex;
  position: relative;
  display: inline-block;
  height: 80px;
  width: 40%;
  bottom: -140px;
  left: -120px;
}

div.name{
  display: inline-block;
  height: 40px;
  width 40%;
  float: left;
  position: relative;
  top: -115px;
  left: -220px;
  font-weight: bold;
  font-size: 30px;
}

div.name2{
  display: inline-block;
  height: 40px;
  width 40%;
  float: right;
  position: relative;
  right: 113px;
  font-weight: bold;
  font-size: 30px;
  top: -155px;
  right: -183px;
}

#container {
  margin: auto;
}
/* @font-face {
    font-family: myFirstFont;
    src: url('/Users/tatewilson/Documents/newfont.zip');
} */

.message, .message2, .message3, .message4{
    font-family: "Permanent Marker";
    font-size: 75px;
    position: absolute;
    z-index: 1;
}
.message5, .message6, .message7, .message8, .message9, .message10, .message11, .message12 {
  font-family: "Permanent Marker";
  font-size: 75px;
  z-index: 1;
}
